@mixin set-gutters($gutter: $gutter-width, $column-selector: ".column") {
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);

  & > #{$column-selector} {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

@mixin make-columns($column-selector: ".column") {
  @include clearfix;

  @at-root {
    #{$column-selector} {
      float: left;
    }

    #{$column-selector}.centered {
      float: none;
      margin: 0px auto;
    }

    .full {
      width: 100%;
    }
  }

  &:not(:last-child) {
    margin-bottom: $baseline;
  }

  $fractions: (
    half:       50%,
    third:      33.333333%,
    fourth:     25%,
    fifth:      20%,
    sixth:      16.666667%,
    seventh:    14.285714286%,
    eighth:     12.5%,
    ninth:      11.111111111%,
    tenth:      10%,
    eleventh:   9.090909091%,
    twelfth:    8.333333333%
  );

  $numbers: one two three four five six seven eight nine ten eleven;

  @each $fraction, $width in $fractions {
    $index: index($fractions, $fraction $width);

    @while $index > 0 {
      $plural: $fraction + 's';

      @if $index == 1 {
        $plural: $fraction;
      }

      $base-selector: nth($numbers, $index) + '-' + $plural;

      @at-root {
        .#{$base-selector}      { width: ($width * $index);        }
        .push-#{$base-selector} { margin-left: ($width * $index);  }
        .pull-#{$base-selector} { margin-right: ($width * $index); }
      }

      $index: $index - 1;
    }
  }
}
