$primary-color: #006699 !default;
$footer-background-color: #393939 !default;

article{
    .page__inner-wrap {
        p,
        li,
        dl {
            font-size: 0.75em !important;
        }
        header {
            background-image: url("/Vision-AI-DevKit-Pages/assets/images/node-graphic.png");
            background-position: center;
            background-size: cover;
        
            #page-title{
                margin-bottom: 0px;
                padding-bottom: 0.5em;
            }
        }
    }
}

.layout--single{
    #page-title{
        color: #ffffff;
        padding: 2em 0em 2em 0em;
        vertical-align: middle;
    }
}

.page__footer {
    color: #737373 !important; // override
    p, strong {
        color: #737373 !important; // override
    }

    a {
        color: #a6a6a6 !important; // override
    }
}

.page__hero--overlay {
    z-index: 2;
    transition: transform 3s;
    border-radius: 6px;
    box-shadow: 0px 18px 72px 0 black(0.2);
    box-shadow: 0 18px 64px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 48px;

    @media (max-width: 1440px) {
        margin: 0px 24px;
    }

    @media (max-width: 960px) {
        margin: 0px 6px;
    }

    &:after {
        border-radius: 6px;
        background: black(0.3);
    }

    &:hover {
        transition: transform 0.75s;
    }

    .wrapper {
        display: flex;

        .page__hero--content {
            max-width: 66%;
        }

        .page__hero-image {
            position: absolute;
            height: calc(100% + 50px);
            left: 0;
            right: 0;
            margin-left: auto;
            width: 34%;
            max-width: 456px;
            background-size: cover;
        }
    }
}