$primary-color: #006699 !default;
$footer-background-color: #393939 !default;

.page__footer {
    color: fuchsia !important; // override
}

.page__footer p,
.page__footer strong {
    color: #737373 !important; // override
}

.page__footer a {
    color: #a6a6a6 !important; // override
}

.page__hero--overlay {
    z-index: 2;
    transition: transform 3s;
    border-radius: 6px;
    box-shadow: 0px 18px 72px 0 black(0.2);
    box-shadow: 0 18px 64px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 48px;

    @media (max-width: 1440px) {
        margin: 0px 24px;
    }

    @media (max-width: 960px) {
        margin: 0px 6px;
    }

    &:after {
        border-radius: 6px;
        background: black(0.3);
    }

    &:hover {
        transition: transform 0.75s;
    }
}