// Mixin to create horizontal lists, either with
// inline-block or float

@mixin horizontal-list($type: inline-block) {
  @extend %reset-list;

  @if $type == inline-block {
    // This removes the spacing between <li> elements added by default
    // Impossible to remove without setting the <ul> to font-size: 0px
    font-size: 0px;

    & > li {
      display: inline-block;
      font-size: $font-size;
    }
  }

  @if $type == float {
    @include clearfix;

    & > li {
      float: left;
    }
  }
}
