.cc-banner {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed !important;
  display: block;
  z-index: 10;
}

.hero-wrap {
    margin-left: bl(2);
    margin-right: bl(2);
    margin-top: bl(3);
    perspective: 100px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
    @include below(1440px) {
        margin-left: bl(1);
        margin-right: bl(1);
    }

    .cc-banner.active + .page-container & {
      margin-top: bl(3) + 46px;
    }
}

.block-hero {
    position: relative;
    z-index: 2;
    .hero-background {
        z-index: 2;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        transition: transform 3s;
        background-image: url(/images/node-graphic.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 6px;
        box-shadow: 0px 18px 72px 0 black(0.2);
        box-shadow: 0 18px 64px 0 rgba(0, 0, 0, 0.3);
        &:after {
            border-radius: 6px;
            background: black(0.3);
        }
    }
    .block-inner {
        position: relative;
        z-index: 3;
        h2,
        p {
            text-shadow: 0px 0px bl(0.5) black(0.3);
        }
    }
    &:hover {
        transition: transform 0.75s;
    }
    @media screen and (max-width: 960px) {
        .column.two-thirds {
            width: auto;
        }
    }
    .image-wrap {
        position: relative;
        box-shadow: 0px 18px 72px 0 black(0.2);
        img {
            border-radius: 6px;
            position: absolute;
            top: bl(-4.5);
            left: 0px;
            right: 0px;
            width: 100%;
        }
        @media screen and (max-width: 960px) {
            display: none;
        }
    }
}

.block-intro {
    margin-top: bl(-3);
}
