.page__footer-nav {
    font-family: $global-font-family;
    font-size: $type-size-7;

    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;

        li {
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        margin-left: 18px;
        border-bottom: 1px solid;

        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
}

.feature__item {
    &--dual {
        @include breakpoint($small) {
            float: left;
            margin-bottom: 0;
            width: span(6 of 12);

            &:nth-child(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            &:nth-child(3n + 2) {
                clear: none;
                margin-left: gutter(of 12);
            }
        }
    }
}