.camera-interface-form {
    h4 {
        margin-bottom: 12px !important;
        &:not(:first-child) {
            margin-top: 48px;
        }
    }
}

.camera-interface-header {
    background-image: url(../images/node-graphic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        position: absolute;
        top: 8px;
        right: 0px;
        width: 25%;
    }
}

.camera-view {
    padding-top: 56.25%;
    background: grey(8);
    background: rgba(c('primary'), 0.1);
    position: relative;
    &:after {
        content: 'Camera picture here';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: c('primary');
    }
}

.camera-view-block h1 {
    font-weight: 500;
    margin-bottom: 24px;
}