.block-footer {
  .footer-logo {
    max-width: 140px;
  }

  p {
    color: grey(4);
    font-size: $fs * 0.9;
    line-height: bl(0.9);
  }

  .footer-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      margin-left: bl(0.75);
      color: grey(6);
      font-size: $fs * 0.9;
      line-height: bl(0.9);
    }
  }
}
