@include above(v('large')) {
  .flex-row {
    display: flex;

    &.flex-reverse {
      flex-direction: row-reverse;
    }

    & > .column {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.image-wrap {
  img {
    max-width: 100%;
  }
}

.anchor-link {
  position: relative;
  top: -72px;
  display: block;
}

// .page-container {
//   max-width: 1800px;
//   margin: 0px auto;
// }
