.have-a-device .text-container h3 {
    font-size: 24px;
    line-height: 1.3em;
}

@media screen and (max-width: 768px) {
    .block-header {
        ul {
            display: none;
        }
    }
}

@media screen and (max-width: 960px) {
    .text-container h3 {
        line-height: 1.3em;
    }

    // .column-row {
    //     margin: 0;
    // }

    .block-intro {
        margin-top: -24px;

        .column.one-third {
            display: none;
        }

        .column.two-thirds {
            width: auto;
            float: none;
        }
    }

    .hero-wrap {
        margin-left: 6px;
        margin-right: 6px;
    }

    .block-qualcom {
        .column {
            width: auto;
            float: none;
        }

        .column-row {
            display: block;
        }
    }

    .block-wrap.have-a-device {
        background: #0078d7;

        .column-row.max-gutter>.column {
            width: auto;
        }
    }

    .block-wrap.no-device {
        background: #e6e6e6;

        .column-row.max-gutter>.column {
            width: auto;
            float: none;
        }
    }

    .column-row.max-gutter {
        margin-left: -12px;
        margin-right: -12px;
    }

    .column-row.max-gutter>.column {
        padding-left: 12px;
        padding-right: 12px;
    }
}
