---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #006699 !default;
$footer-background-color: #393939 !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin


.layout--single{
    #page-title{
        color: #ffffff;
        padding: 2em 0em 2em .5em;
    }
}

article{
    .page__inner-wrap {
        p,
        li,
        dl {
        }
        header {
            background-image: url("/Vision-AI-DevKit-Pages/assets/images/node-graphic.png");
            background-position: center;
            background-size: cover;
        
            #page-title{
                margin-bottom: 0px;
                padding-bottom: 0.5em;
            }
        }
    }
}

.page__footer {
    margin-top: 0em !important; //override 
    color: #737373 !important; // override
    p, strong {
        color: #737373 !important; // override
    }

    a {
        color: #a6a6a6 !important; // override
    }
}

@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    z-index: 2;
    transition: transform 3s;
    border-radius: 6px;
    box-shadow: 0px 18px 72px 0 black(0.2);
    box-shadow: 0 18px 64px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 48px;

    @media (max-width: 1440px) {
        margin: 0px 24px;
    }

    @media (max-width: 960px) {
        margin: 0px 6px;
    }

    &:after {
        border-radius: 6px;
        background: black(0.3);
    }

    &:hover {
        transition: transform 0.75s;
    }

    .wrapper {
        display: flex;

        .page__hero--content {
            max-width: 66%;
        }

        .page__hero-image {
            position: absolute;
            height: calc(100% + 15px);
            left: 0;
            right: 0;
            top: 0;
            margin-left: auto;
            width: 34%;
            max-width: 456px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.feature__item {
    &--dual {
        @include breakpoint($small) {
            float: left;
            margin-bottom: 0;
            width: span(6 of 12);

            &:nth-child(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            &:nth-child(3n + 2) {
                clear: none;
                margin-left: gutter(of 12);
            }
        }
    }
}

.layout--splash {
    #main {
        margin-left: inherit;
        margin-right: inherit;
        padding-left: inherit;
        padding-right: inherit;
        max-width: inherit;

        .feature__outer_wrapper {
            display: flex;

            h2 {
                border-bottom: none;
            }

            &:first-child {
                padding-top: 100px;
                margin-top: -100px;
                background: mix(#cccccc, #ccc);

                @include breakpoint($small) {
                    background: linear-gradient(to right, #CCCCCC 50%, #ccc 50%);
                }
            }

            &:nth-child(2) {
                padding-top: 3em;
                padding-bottom: 2em;
                background: rgba(0,120,215,0.1);
                border-bottom: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
            }


            .feature__wrapper {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 1em;
                padding-right: 1em;
                border-bottom: none;
                // background-color: beige;
            }
        }
    }
}

.page__footer-nav {
    font-family: $global-font-family;
    font-size: $type-size-7;

    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;

        li {
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        margin-left: 18px;
        border-bottom: 1px solid;

        &:hover {
            border-bottom: 2px solid;
            text-decoration: none;
        }
    }
}
